@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* GENERAL STYLE STARTS */

:root {
  --neutral-100: hsl(45 10% 98%);
  --neutral-200: hsl(45 10% 92%);
  --neutral-300: hsl(45 10% 82%);
  --neutral-400: hsl(45 10% 68%);
  --neutral-500: hsl(45 10% 50%);
  --neutral-600: hsl(45 10% 32%);
  --neutral-700: hsl(45 10% 18%);
  --neutral-800: hsl(45 10% 8%);
  --neutral-900: hsl(45 10% 2%);
  --green-100: hsl(105 60% 98%);
  --green-200: hsl(105 60% 92%);
  --green-300: hsl(105 60% 82%);
  --green-400: hsl(105 60% 68%);
  --green-500: hsl(105 60% 50%);
  --green-600: hsl(120 60% 32%);
  --green-700: hsl(120 60% 18%);
  --green-800: hsl(120 60% 8%);
  --green-900: hsl(120 60% 2%);
  --shadow: 0 0 0.5rem hsl(0 0% 0% / 0.15);
  --fluid-size: clamp(2rem, 1rem + 4.1667vw, 4rem); /* 2rem at 24rem, 4rem at 72rem */
}
body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: var(--fluid-size);
  width: min(72rem, calc(100% - var(--fluid-size) * 2));
  margin: var(--fluid-size) auto;
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  font-family: "Andika", "Arial", "Helvetica", sans-serif;
  line-height: 1.25;
  letter-spacing: 0.1ch;
}
main {
  display: grid;
  gap: var(--fluid-size);
}
h1, h2, h3 {
  font-family: "Barlow", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.2ch;
}
h1 {
  font-size: var(--fluid-size);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: bold;
}
section > h2 {
  margin-bottom: var(--fluid-size);
  text-align: center;
}
a, button {
  color: var(--green-700);
  text-decoration: underline;
  transition: color 0.4s;
}
:is(a, button):where(:hover, :focus-visible) {
  color: var(--green-500);
}
code {
  display: inline-block;
  padding: 0.125rem 0.375rem;
  border: 0.0625rem solid;
  font: inherit;
  font-size: 0.75rem;
}
@media (min-width: 48rem) {
  section > h2 {
    width: min(calc(39.5rem + var(--fluid-size)), calc(100% - var(--fluid-size) * 2 - 0.5rem));
    margin-inline: auto;
    text-align: left;
  }
}

/* GENERAL STYLE ENDS */

/* HEADER STYLE STARTS */

.header {
  border: 0.25rem solid;
  padding: var(--fluid-size);
}
.profile {
  display: grid;
  grid-template-areas:
    "avatar"
    "name"
    "bio"
    "links";
  justify-items: center;
  gap: 2rem var(--fluid-size);
  max-width: 23.5rem;
  margin-inline: auto;
  text-align: center;
}
.profile__avatar {
  grid-area: avatar;
  width: min(16rem, 100%);
  filter: drop-shadow(var(--shadow));
}
.profile__name {
  grid-area: name;
}
.profile__bio {
  grid-area: bio;
}
.profile__link-list {
  grid-area: links;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}
.profile__link {
  display: inline-block;
  width: 11.5rem;
  height: 100%;
  padding: 0.25rem;
  border: 0.125rem solid var(--green-700);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
}
.profile__link:is(:hover, :focus-visible) {
  background-color: var(--green-600);
  color: var(--neutral-100);
}
@media (min-width: 48rem) {
  .profile {
    grid-template-areas:
      "avatar ."
      "avatar name"
      "avatar bio"
      "avatar links"
      "avatar .";
    grid-template-columns: 16rem minmax(0, 23.5rem);
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: start;
    max-width: none;
    text-align: left;
  }
  .profile__link-list {
    justify-content: start;
  }
}

/* HEADER STYLE ENDS */

/* PROJECTS STYLE STARTS */

.project-entry {
  display: grid;
  grid-template-areas:
    "thumb thumb"
    "title title"
    "desc  desc"
    "links links"
    "date  tags";
  grid-template-columns: 5rem 1fr;
  justify-items: center;
  row-gap: 1rem;
  max-width: 23.5rem;
  margin-inline: auto;
  text-align: center;
}
.project-entry:not(:first-child) {
  margin-top: var(--fluid-size);
}
.project-entry__thumb {
  grid-area: thumb;
  width: min(14rem, 100%);
  box-shadow: var(--shadow);
}
.project-entry__title {
  grid-area: title;
}
.project-entry__desc {
  grid-area: desc;
}
.project-entry__date {
  grid-area: date;
  place-self: stretch;
  display: grid;
  align-content: center;
  padding: 0.5rem;
  background-color: var(--neutral-200);
  text-align: center;
}
.project-entry__date-month {
  font-size: 1.5rem;
}
.project-entry__link-list {
  grid-area: links;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}
.project-entry__link {
  display: inline-block;
  width: 11.5rem;
  height: 100%;
  padding: 0.25rem;
  border: 0.125rem solid var(--green-700);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
}
.project-entry__link:is(:hover, :focus-visible) {
  background-color: var(--green-600);
  color: var(--neutral-100);
}
.project-entry__tag-list {
  grid-area: tags;
  place-self: stretch;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: var(--neutral-200);
}
.project-entry__tag-list::before {
  display: block;
  content: "";
  position: absolute;
  inset: 0.5rem auto 0.5rem 0rem;
  border-left: 0.0625rem solid;
}
.project-entry__tag-item:not(:last-child)::after {
  content: "·";
  margin-inline: 0.5rem;
}
@media (min-width: 48rem) {
  .project-entry {
    grid-template-areas:
      "thumb .     ."
      "thumb title title"
      "thumb desc  desc"
      "thumb links links"
      "thumb date  tags"
      "thumb .     .";
    grid-template-columns: calc(16rem + var(--fluid-size)) 5rem minmax(0, 18.5rem);
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: start;
    max-width: calc(100% - var(--fluid-size) * 2 - 0.5rem);
    text-align: left;
  }
  .project-entry__thumb {
    margin-left: 1rem;
    align-self: center;
  }
}

/* PROJECTS STYLE ENDS */

/* FOOTER STYLE STARTS */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 2rem;
  margin-top: auto;
  text-align: center;
}

/* FOOTER STYLE ENDS */

/* INFOPANEL STYLE STARTS */

.info-panel {
  width: min(32rem, calc(100% - var(--fluid-size)));
  border: 0.25rem solid;
  background-color: var(--neutral-100);
  box-shadow: 0 0 0 0.25rem var(--neutral-100);
}
.info-panel__body {
  padding: 2rem;
  max-height: 50svh;
  overflow-y: auto;
}
.info-panel__body > :not(:first-child) {
  margin-top: 1rem;
}
.info-panel__link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.5rem;
}
.info-panel__link {
  display: inline-block;
  width: 11.5rem;
  height: 100%;
  padding: 0.25rem;
  border: 0.125rem solid var(--green-700);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
}
.info-panel__link:is(:hover, :focus-visible) {
  background-color: var(--green-600);
  color: var(--neutral-100);
}

/* INFOPANEL STYLE ENDS */

/* SECRET STYLE STARTS */

.secret-active :is(h1, h2, h3, p) {
  letter-spacing: 1ch;
}

/* SECRET STYLE ENDS */
