@charset "utf-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
ul {
  list-style: none;
}

/* RESET ENDS */

/* GENERAL STYLE STARTS */

:root {
  --off-white: hsl(210 90% 98%);
  --very-light-blue: hsl(210 90% 92%);
  --light-blue: hsl(210 90% 82%);
  --blue: hsl(225 90% 32%);
  --dark-blue: hsl(240 90% 18%);
  --light-green: hsl(105 60% 68%);
  --green: hsl(120 60% 32%);
  --dark-green: hsl(120 80% 18%);
  --bshadow-blue: 0 0.25rem var(--blue);
  --bshadow-green: 0 0.25rem var(--green);
}
body {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;
  background-color: var(--off-white);
  color: var(--dark-blue);
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}
p {
  margin-top: 0.5rem;
}
a:where(:link, :visited) {
  color: var(--blue);
}
a:where(:hover, :focus-visible) {
  color: var(--green);
}
.tooltip {
  display: inline-block;
  position: relative;
}
.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 0.25em);
  left: 50%;
  translate: -50%;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  font-size: 0.75rem;
  white-space: nowrap;
  transition: opacity 0.4s;
}
.tooltip-text::after {
  display: block;
  content: "";
  position: absolute;
  inset: 100% 0 0 0;
  margin: 0 auto;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-top: 0.5em solid var(--dark-blue);
  width: 0;
  height: 0;
}
.tooltip:is(:hover, :focus-within) .tooltip-text {
  visibility: visible;
  opacity: 0.9;
}
@media (min-width: 36rem) {
  body {
    text-align: center;
  }
}

/* GENERAL STYLE ENDS */

/* HERO STYLE STARTS */

header {
  display: grid;
  grid-template-areas:
    "bg-left"
    "card"
    "bg-right";
  justify-content: center;
  place-items: center;
  gap: 0.25rem;
  padding: 1rem 0;
  background-color: var(--very-light-blue);
}
.hero-bg {
  max-width: min(32rem, 100%);
  max-height: 16rem;
  filter: drop-shadow(0.125rem 0.125rem 0 var(--light-blue));
  transition: opacity 0.4s;
}
.hero-bg-left {
  grid-area: bg-left;
}
.hero-bg-right {
  grid-area: bg-right;
}
.profile-card {
  grid-area: card;
  display: flex;
  align-items: center;
  max-width: 24rem;
  padding: 0.5rem;
  background-color: var(--light-blue);
  border-radius: 1rem;
  box-shadow: var(--bshadow-blue);
}
.profile-avatar {
  margin: -1rem auto;
  width: 8rem;
}
.profile-name {
  font-size: 2rem;
}
.profile-links {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.profile-links li {
  display: inline;
}
@media (min-width: 36rem) {
  header {
    grid-template-areas:
      "card bg-left"
      "card bg-right";
    row-gap: 0;
    padding: 1rem;
  }
  .profile-card {
    flex-direction: column;
    width: 12rem;
  }
  .profile-avatar {
    width: 100%;
  }
}
@media (min-width: 60rem) {
  header {
    grid-template-areas: "bg-left card bg-right";
  }
  .profile-card {
    width: 16rem;
  }
}

/* HERO STYLE ENDS */

/* CONTENT STYLE STARTS */

main {
  display: grid;
  gap: 1rem;
}
h2 {
  margin: 0 auto 1rem;
  max-width: 24rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--light-blue);
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  box-shadow: var(--bshadow-blue);
}
h2::after {
  display: block;
  content: "";
  margin: auto;
  border-inline: 0.5rem solid transparent;
  border-top: 0.5rem solid;
  width: 0;
  height: 0;
}
h3 {
  font-size: 1.5rem;
  line-height: 1;
}

/* CONTENT STYLE ENDS */

/* PROJECTS STYLE STARTS */

.projects-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  margin-inline: 0.5rem;
}
.project-card {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--light-blue);
  border-radius: 1rem;
  box-shadow: var(--bshadow-blue);
  color: inherit;
  text-decoration: none;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
}
.project-card:is(:hover, :focus-visible) {
  background-color: var(--light-green);
  box-shadow: var(--bshadow-green);
  color: var(--dark-green);
}
.project-thumb {
  width: 8rem;
  height: 8rem;
  border: 0.125rem solid;
  border-radius: 1rem;
}
.project-info {
  display: grid;
  align-content: center;
}
.project-tagcloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  margin-block: 0.5em;
  font-size: 0.75em;
}
.project-tagcloud li {
  display: inline;
  padding: 0.125em 0.5em;
  border: 0.0625rem solid;
  border-radius: 1em;
}
@media (min-width: 36rem) {
  .projects-content {
    grid-template-columns: repeat(auto-fit, 16rem);
  }
  .project-card {
    flex-direction: column;
    align-items: center;
  }
  .project-tagcloud {
    justify-content: center;
  }
}

/* PROJECTS STYLE ENDS */

/* FOOTER STYLE STARTS */

footer {
  text-align: center;
}

/* FOOTER STYLE ENDS */