@charset "utf-8";
:root {
  --green1: hsl(120 60% 98%);
  --green2: hsl(120 60% 92%);
  --green3: hsl(120 60% 82%);
  --green4: hsl(120 60% 68%);
  --green5: hsl(120 60% 50%);
  --green6: hsl(120 60% 32%);
  --green7: hsl(120 60% 18%);
  --green8: hsl(120 60% 8%);
  --green9: hsl(120 60% 2%);
  --blue1: hsl(225 80% 98%);
  --blue2: hsl(225 80% 92%);
  --blue3: hsl(225 80% 82%);
  --blue4: hsl(225 80% 68%);
  --blue5: hsl(225 80% 50%);
  --blue6: hsl(225 80% 32%);
  --blue7: hsl(225 80% 18%);
  --blue8: hsl(225 80% 8%);
  --blue9: hsl(225 80% 2%);
  font-size: 16px;
}
@keyframes bg-animate {
  from {background-position: 0 0, calc(var(--bg-size)/2) calc(var(--bg-size)/2);}
  to   {background-position: var(--bg-size) var(--bg-size), calc(var(--bg-size)*3/2) calc(var(--bg-size)*3/2);}
}

/* GENERAL STYLE STARTS */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: grid;
  grid-template-rows: auto;
  align-items: end;
  gap: 1em;
  padding-top: 1em;
  min-height: 100vh;
  background-color: var(--green1);
  color: var(--blue7);
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.0625ch;
}
img {
  display: block;
  object-fit: scale-down;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
a:where(:link, :visited) {
  text-decoration: none;
  color: var(--blue5);
}
a:where(:hover, :focus-visible) {
  color: var(--green7);
}

/* GENERAL STYLE ENDS */

/* HERO STYLE STARTS */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  overflow: clip;
  padding: 1em 0;
  --bg-size: 16px;
  background-color: var(--blue2);
  background-image:
    radial-gradient(var(--blue3) 0% 12.5%, transparent 12.5% 100%),
    radial-gradient(var(--blue3) 0% 12.5%, transparent 12.5% 100%);
  background-size: var(--bg-size) var(--bg-size);
  background-position: 0 0, calc(var(--bg-size)/2) calc(var(--bg-size)/2);
  animation: bg-animate 1s linear infinite;
}
header > * {
  flex: 0 0 auto;
}
.hero-bg {
  width: 512px;
  height: 256px;
  object-fit: cover;
  opacity: 0.1;
  transition: opacity 0.4s, filter 0.4s;
}
.hero-bg.left {
  object-position: right;
}
.hero-bg.right {
  object-position: left;
}
header:is(:hover, :focus-within) .hero-bg {
  opacity: 1;
  filter: drop-shadow(0 1px 1px var(--blue5));
}
.profile-card {
  width: 256px;
  padding: 0.5em;
  background-color: var(--blue3);
  border-radius: 1em;
  box-shadow: 0 4px var(--blue5);
  text-align: center;
}
.avatar {
  margin: -1em auto;
  width: 256px;
  height: 256px;
}
h1 {
  font-size: 2rem;
}
.links {
  font-size: 1.5rem;
}
.tooltip {
  display: inline-block;
  position: relative;
}
.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  translate: -50%;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--blue7);
  color: var(--blue1);
  font-size: 0.75rem;
  white-space: nowrap;
  transition: opacity 0.4s;
}
.tooltip-text::after {
  display: block;
  content: "";
  position: absolute;
  inset: 100% 0 0 0;
  margin: 0 auto;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid var(--blue7);
  width: 0;
  height: 0;
}
.tooltip:is(:hover, :focus-within) .tooltip-text {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .hero-bg {
    width: 100%;
    height: auto;
  }
  .profile-card {
    display: flex;
    width: auto;
  }
  .avatar {
    width: 128px;
    height: 128px;
  }
  .profile-content {
    text-align: left;
  }
}

/* HERO STYLE ENDS */

/* CONTENT STYLE STARTS */

h2 {
  position: relative;
  margin: auto;
  max-width: 256px;
  padding: 0.5em 0 1em;
  border-radius: 1em;
  background-color: var(--blue2);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
h2::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  margin: auto auto 0.5em auto;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid var(--blue7);
  width: 0;
  height: 0;
}
h3 {
  font-size: 1.5rem;
}

/* CONTENT STYLE ENDS */

/* PROJECTS STYLE STARTS */

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  justify-content: center;
  gap: 1em;
  padding: 1em;
  overflow-y: auto;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  background-color: var(--blue2);
  border-radius: 1em;
  box-shadow: 0 4px var(--blue4);
  color: var(--blue7);
  transition: background-color 0.4s;
}
.project-card:is(:hover, :focus-visible) {
  background-color: var(--blue3);
}
.project-card img {
  width: 128px;
  height: 128px;
  border: 2px solid;
  border-radius: 1em;
}
.project-desc {
  text-align: center;
}
.tagcloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25em;
  padding: 0;
}
.tagcloud li {
  display: inline;
  padding: 0.125em 0.5em;
  border: 1px solid;
  border-radius: 1em;
  font-size: 0.75em;
}
@media screen and (max-width: 600px) {
  .projects-content {
    grid-template-columns: 100%;
  }
  .project-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;
  }
  .project-desc {
    text-align: left;
  }
  .tagcloud {
    justify-content: flex-start;
  }
}

/* PROJECTS STYLE ENDS */